<ion-menu contenId="main-content">
   <ion-header>
    <ion-toolbar color="primary">
      <ion-tittle>Menu</ion-tittle>
    </ion-toolbar>
   </ion-header>

   <ion-content>
    <div class="ion-padding ion-text-center">
      <ion-avatar style="margin: 0 auto; width: 64px; height: 64px;">
        <img alt="Avatar del usuario" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2><strong>Usuario Handyman</strong></h2>
      </ion-label>
    </div>

    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false">
        <ion-item button routrtLink="/home">
        <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
   </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons> 
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-tittle>HANDYMANAPP</ion-tittle>
    </ion-toolbar>
  </ion-header>

  <ion-conten class="ion-padding">
    <router-outlet></router-outlet>
  </ion-conten>
</div>